$themeColorDark: #202020;
$themeColorDarkSecondary: #5d5f64;
$themeColorLight: #f7f8f9;
$themeColorLightSecondary: #f8f8f8;
$themeColorYellow: #ffa737;
$themeColorBlue: #556eed;
$themeColorLightBlue: #607afe;
$themeColorDarkBlue: #001061;
$themeColorTransparent: #00000000;



$list-group-bg: var(--#{transparent}body-bg);
$list-group-border-color: var(--#{transparent}border-color);